.discography-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  font-size: 18px;

  .img-container {
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  img {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
    border: 1px solid black;
  }

  .button {
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    color: black;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button:hover {
    background-color: black;
    color: white;
  }

  .listSongs {
    padding-top: 10px;
  }
}
